<% content_for :head do %>
  <script type="text/javascript" src="/javascripts/stream_layers.js"></script>
<% end %>

<div class="page-header">

  <h1 class="subhead">GHDx Streamgraph</h1>
  <h4>Datasets catalogued in the GHDx by country and datatype.</h4>

</div>


<div class="row show-grid">


  <div class="span2">
    <div class="row show-grid">

    <div class="span2 side-things">
    <h3>Enter a Country Name</h3>
    </div>

    <div class="span2 side-things">
      <form id="countryform">
      <input name="countrybox" autocomplete="off" id="countrybox" type="text" data-provide="typeahead" class="span2">
      </input>
      </form>
    </div>
  </div>

  </div>


<div class="span10">
  <div id="chart" >
    <%= javascript_include_tag params[:controller] %>
  </div>
</div>

</div>




