<% content_for :head do %>

  <script type="text/javascript" src="/javascripts/stream_layers.js"></script>
  <%= stylesheet_link_tag "jquery-ui" %> 

<% end %>

<div class="content">
<div class="page-header">
  <div class="row show-grid">
     <div class="span6"> 
       <h1 class="subhead">GHDx Streamgraph</h1>
       <h4>Datasets catalogued in the Global Health Data Exchange by datatype.</h4>
     </div>
     <div id="label-container">
       <div style="padding:3px">
         <span id="type-label"></span>
         <span id="type-definition"></span>
       </div>
     </div>
  </div>
</div>


<div class="row show-grid">


  <div class="span2" style="width:120px">

    <div class="row show-grid">

      <div class="span2 side-things">

        <h3>Enter a Country Name</h3>

      </div>

      <div class="span2 side-things"> 
          <div id="form-status">
            <form id="countryform">
                <input name="countrybox" autocomplete="off" id="countrybox" type="text" data-provide="typeahead" class="span2"></input>
                <input class="btn" type="submit" value="Submit" /></input>
            </form>             
          </div>

          <div id="loading-gif" class="span2 side-things">
            <%= image_tag "loading.gif" %>
          </div>

          <div id="reset-btn" class="span2 side-things">
            <form id="reset-button">
              <input class="btn btn-success" type="submit" value="All Datasets"></input>
            </form>
          </div> 

      </div>

    </div>

  </div>


  <div id="chart-container" class="span10">

    <div id="chart">

      <div id="chart-title">

        <h1>All Datasets</h1>
        <h2 id="years-selected"></h2>

      </div>

      <div id="chart-goes-here">
      </div>
   
      <div id="range-slider">         
        <%= javascript_include_tag "range-slider" %>        
      </div>

    </div>

  </div>

</div>
</div>
