// Place all the styles related to the streamgraph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subhead {
    margin-bottom: 9px;
    padding-bottom: 0;
    font-size: 54px;
}

#chart {
display: none;
}

#chart-container {
width:1010px;
height:510px;
}

