// Place all the styles related to the streamgraph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subhead {
    margin-bottom: 9px;
    padding-bottom: 0;
    font-size: 54px;
}

#chart {
display: none;
}

#chart-container {
width:1010px;
height:510px;
}

#chart-title h1{
 color: #71E0FC;
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 filter: alpha(opacity=80);
 -moz-opacity:0.8;
 -khtml-opacity: 0.8;
  opacity: 0.8;
}



#chart-title h2{
 color: #71E0FC;
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 filter: alpha(opacity=80);
 -moz-opacity:0.8;
 -khtml-opacity: 0.8;
  opacity: 0.8;

}

#chart-title {
position: absolute;
}

path:hover {

  stroke : rgb(113, 224, 252);
  stroke-width: 3px;

}

